/*@charset "UTF-8" */

html {
    /*Box-sizing*  DECLARE AT TOP SO IT OVERRIDES WHAT'S BELOW*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*COLORS 
#000000      black
#373737      very dark gray#1e1f1f 
gray         gray
#d3d3d3      light gray 
#5adae2      bright tourquoise#1edce1
4cd2da       dark tourquoise#5adae2  
#ob676b      teal
#f9f8f8      light beige/eggshell  background color for pages
#e0d8cd      darkest beige ...contentbox color
#edecea      main bkgrd
#fff         White
*/

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    /*    background-color: #edecea;*/
}

h1 {
    font-size: 38px;
    color: #1e1f1f;
}

h2 {
    font-size: 32px;
    color: #1e1f1f;
}

h3 {
    font-size: 24px;
    font-weight: 200;
    color: #1e1f1f;
}

h4 {
    font-size: 18px;
    color: #1e1f1f;
}

a {
    text-decoration: none;
    color: white;
    transition: <property> <duration><timing-function><delay>;
}

p {
    font-size: 18px;
    color: gray;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #373737;
}

.header h1 {
    color: white;
}

.home h1 {
    color: #fff;
}

.main {
    background-color: #edecea;
    /*    background-color: #d3d3d3;*/
}

.footer {
    background-color: #373737;
}

.footer h4 {
    color: #fff;
}

.footer p {
    font-size: 16px;
    font-weight: 200;
    margin-top: 0;
    color: gray;
}

.footer ul {
    font-size: 16px;
    font-weight: 200;
    color: gray;
}

.footer-bottom {
    background-color: #373737;
    color: #fff;
}

.contentbox {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox h4 {
    font-size: 20px;
    font-weight: normal;
}

.contentbox li {
    font-size: 18px;
    font-weight: 200;
    color: #1e1f1f;
}

.contentbox i {
    color: #5adae2;
}

.contentbox beige {
    background-color: #e0d8cd;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox-tourquoise {
    background-color: #5adae2;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox>img {
    float: left;
    margin-right: 15px;
}

.contentbox-beige>img {
    float: left;
    margin-right: 15px;
}

.tile {
    margin: 0 0 5px 5px;
    padding: 20px;
    text-align: center;
    background-color: #5adae2;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.tile p {
    margin: 0;
}

.tile i {
    font-size: 108px;
}

.blog-tease {
    color: #fff;
}

.blog-tease h2 {
    color: #fff;
}


/*CSS BODY CONTENT STYLE*/


/*box-sizing*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*box-sizing: inherit;*/
}


/*GRID CREATION RULES*/

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.column {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.row {
    overflow: hidden;
}

.one-whole {
    width: 960px;
}

.three-quarters {
    width: 700px;
}

.one-half {
    width: 460px;
}

.one-quarter column {
    width: 220px;
}

.two-thirds {
    width: 620px;
}

.one-third {
    width: 300px;
    /*    padding might need to be taken out... not in instructions but fixes "contacy us"*/
    padding-top: 75px;
}

.one-sixth {
    width: 140px;
}

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

nav ul li {
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}


/*Header*/

<!--COMPOUND-SELECTORS--> .brand {
    font-size: 22px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.nav li {
    float: none;
    border-right: 1px solid #dedede;
    /*light gray*/
    font-size: 18px;
}

.nav li:last-child {
    border-right: 0 none;
}

.nav {
    padding-top: 60px;
}

.nav a {
    padding: 0px 10px;
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opscity 0.3s ease-out;
    transition: opacity 0.3s ease 0s;
}

.nav a:hover {
    color: #5adae2;
    /* turquoise*/
}

.active a {
    color: #5adae2;
}

.pull-right {
    float: right;
}


/*MAIN*/

.page-header {
    /*multiple pages*/
    background-color: #5adae2;
    color: #fff;
    padding-top: 30px;
    margin-bottom: 50px;
}

.page-header.home p {
    font-size: 18px;
    font-weight: 200;
}

.page-header.home a {
    padding-left: 35px;
}

.page-header p {
    font-size: 26px;
    padding-left: 15px;
    color: #fff;
}

.page-header h1 {
    font-weight: bold;
    padding-left: 15px;
    color: #fff;
}

.page-header home h1 {
    color: #fff;
}


/*  HOME -Index  */

.page-header h1 {
    color: #000;
}

.page-header.home {
    margin-bottom: 0;
}

.page-header.home h1 {
    font-weight: normal;
    text-align: center;
}

.main p {
    color: gray;
}

.main home {
    background-color: #edecea;
}

.message {
    background-color: #1edce1;
    padding-top: 60px;
    padding-bottom: 60px;
}

.message h3 {
    color: #fff;
}

.main-content-top i {
    color: #5adae2;
    vertical-align: -10px;
    /* center icon to heading */
}

.main-content-top h1 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.main-content-bottom h1 {
    color: #000;
}

.main-content-bottom h2 {
    color: #000;
}

.main-content-bottom p {
    color: #d3d3d3;
}

.main-content-bottom {
    padding-bottom: 75px;
}

.blog-tease p {
    color: #fff;
}

.blog-tease {
    height: 210px;
}


/*About CSS*/

.team h1 {
    /*OUR TEAM*/
    /*About CSS*/
    margin-bottom: 40px;
    text-align: center;
}

.team-member h3 {
    /*JASON BOURNE*/
    color: gray
}

.team-member {
    margin-bottom: 20px;
    color: #d3d3d3;
}

.team-member h1 {
    text-align: center;
}

.team-member ul {
    text-align: right;
}

.team-member li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}

.team-member a {
    color: #1e1f1f;
}

.team-member a:hover {
    /*    color: #1e1f1f;*/
    color: #5adae2;
    /*tourquoise*/
}

.team-member i {
    background-color: #edecea;
    color: #1e1f1f;
    font-size: 16px;
    padding: 3px;
    margin: 0;
    width: 22px;
    display: inline-block;
    text-align: center;
}

.team-member i:hover {
    color: #5adae2;
    /*tourquoise*/
    background-color: #1e1f1f;
    /*almost black*/
}

.address,
.address a {
    color: #1e1f1f;
}

.address li {
    padding-bottom: 5px;
}


/*Portfolio CSS*/

.portfolio-item {
    margin-bottom: 10px;
    position: relative;
}

.portfolio-title {
    /* hides (portfolio image) text */
    display: none;
    color: #fff;
    text-align: center;
    height: 308px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 0;
    /*0pacity @ zero, nothing displays*/
    padding: 10px;
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opscity 0.3s ease-out;
    transition: opacity 0.3s ease 0s;
}

.portfolio-title:hover {
    background-color: #5adae2;
    opacity: .9;
    /*almost opaque*/
}


/*Blog*/

.info li {
    font-size: 14px;
    background-color: #edecea;
    padding: 5px 8px;
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
}

.info i {
    color: #1e1f1f;
    display: inline-block;
    width: 22px;
    text-align: center;
}

.info i:hover {
    color: #5adae2;
}

.info a:hover {
    color: #5adae2;
}

.sidebar {
    padding: 30px;
}

.sidebar p {
    font-size: 13px;
    line-height: 18px;
    color: #1e1f1f;
    padding: 10px;
}

.sidebar a {
    color: #1e1f1f;
}

.sidebar li {
    font-size: 14px;
}

.recent-entries img {
    float: left;
    padding-right: 10px;
}

.photos img {
    padding-right: 10px;
    padding-bottom: 10px;
}

.sidebar-form input[type="text"] {
    height: 30px;
    width: 125px;
    padding: 0px;
    margin-bottom: 2px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.sidebar-form .btn {
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: background 0.5s ease 0s;
    -moz-transition: background 0.5s ease 0s;
    transition: background 0.5s ease 0s;
}


/*Contact*/


/*compound of table style, form style + p & map style + h2 --> 3 items sharg same properties*/

input[type="text"],
input[type="email"],
input[type="tel"] {
    /*Group Selctor*/
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 0px;
    padding-left: 10px;
    margin-bottom: 25px;
    background-color: white;
    border: 1px;
    display: inline-block;
    height: 20px;
    font-size: 14px;
    color: #373737;
    -webkit-boder-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


/*did i overlook adding a form class to manipulate email, text, name? possibly nuke this*/

.form {
    margin-bottom: 0px;
}

.form p {
    margin-bottom: 20px;
}

.contact-table {
    width: 99%;
    margin-bottom: 50px;
}

.contact-table caption {
    color: #373737;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 10px;
}

.contact-table th {
    text-align: left;
    background-color: white;
    color: #373737;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.contact-table td {
    color: #373737;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.contact-table tr:nth-child(odd) {
    background-color: #f9f8f8;
}

.contact-table tr:hover {
    background-color: #999999;
    cursor: crosshair;
}

.contact-form input {
    width: 445px;
}

input[type="submit"].btn {
    border: none;
    padding-top: 0;
    padding-right: 22px;
    padding-bottom: 0;
    padding-left: 22px;
    margin-top: 10px;
    color: #ffffff;
    /*this is the same? *FFFFFF*/
    height: 50px;
    width: 150px;
    -webkit-transition: background 0.5s ease 0s;
    -moz-transition: background 0.5s ease 0s;
    transition: background 0.5s ease 0;
}

.contact-form textarea {
    width: 445px;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 10px;
    background-color: white;
    border: 1px solid #cccccc;
    display: inline-block;
    color: #373737;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.table,
.form p,
.map h2 {
    margin-left: 15px;
    color: gray;
}


/*Footer*/

.social {
    text-align: center;
}

.social-list {
    text-align: center;
}

.social-list li {
    display: inline-block;
}

.social-list i {
    background-color: #2D2D2D;
    margin: 5px 10px 0 0;
    padding: 3px;
    width: 40px;
    display: inline-block;
}

.social-list i:hover {
    background-color: #373737;
    /*dark gray*/
}

.footer-bottom a {
    color: #fff;
}

.footer-bottom a:hover {
    color: #5adae2;
    /*tourquoise*/
}


/*footer links*/

.footer a:hover,
.footer i:hover {
    color: #5adae2;
}

.btn {
    display: inline-block;
    font-size: 14px;
    background-color: #0B676B;
    /*teal*/
    color: #fff;
    padding: 15px 20px;
    border: none;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease 0s;
}

.btn:hover {
    background-color: #588B8D;
    /*light teal*/
}

.btn > i {
    /*put this class AFTER any class defining btn color so only the color of 'i' tags will be white.*/
    color: #fff;
}

.page-header .btn {
    margin-top: 40px;
    margin-left: 20px;
}

.message .btn {
    margin-left: 20px;
}