/*@charset "UTF-8" */


/*Box-sizing*  DECLARE AT TOP SO IT OVERRIDES WHAT'S BELOW*/

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

}

/*COLORS 
#000000      black
#373737      very dark gray#1e1f1f 
gray         gray
#d3d3d3      light gray 
#f9f8f8      light beige/eggshell  background color for pages
#e0d8cd      darkest beige ...contentbox color
#edecea      main bkgrd
#fff         White
*/
html {
    background-color: #fff;
}
body {
    font-size: 10px;
    line-height: 1.5;
    background-color: #fff;
    /*
}
h1 {
    font-size: 20px;
    color: #1e1f1f;
}
h3 {
    font-size: 14px;
    font-weight: 200;
    color: #1e1f1f;
}
h4 {
    font-size: 18px;
    color: #1e1f1f;
*/
}
.main {
    background-color: #fff;
}
a {
    text-decoration: none;
    color: #000;
    transition: <property> <duration><timing-function><delay>;
}
.judge p {
    font-size: 18px;
    color: gray;
}
.Actions {
    background-color: #f1f1f1;
    font-size: 18px;
}
.areas {
    background-color: #fff;
    width: 960px;
    min-height: inherit;
}
.areas h1 {
    font-size: 32px;
    font-weight: 400;
    color: black;
}
.gray {
    padding-top: 60px;
    background-color: #f1f1f1;
    font-size: 18px;
    color: da;
}
.popular-services {
    padding-top: 15px;
    background-color: #fff;
    font-size: 18px;
    color: gray;
}
ul {
    color: black;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav li {
    /*NavBar*/
    
    padding-top: 5px;
    padding-bottom: 5px;
    /*margin-right: auto;*/
    
    margin-top: 150px;
    color: black;
    display: inline-block;
    float: none;
    /*    border-right: 1px solid #;*/
    
    font-size: 10px;
    font-weight: 5;
}
.nav a {
    padding: 0px 10px;
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opscity 0.3s ease-out;
    transition: opacity 0.3s ease 0s;
}
*/ .nav a:hover {
    color: saddlebrown;
}
.pull-right {
    float: right;
    display: inline-block;
    list-style: none;
    padding: 0;
}

/*
.active a {
    color: #fff;
}
*/
.AliceLogo {
    padding-top: 10px;
    padding-bottom: 2px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    color: white;
    background-color: black;
}
.header {
    background-color: #fff;
}

/*
.focus {
    font-size: 10px;
    color: black;
}
*/
.page-overlay {}
.publications {
    background-color: #fff;
}
.focus {
    font-size: 9px;
    font-weight: 600;
    margin-top: 0;
    color: black;
}

/*
.contentbox {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 70px;
}
*/
.contentbox-topics {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 100px;
}
.ActionTopics {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 70px;
}

/*CSS BODY CONTENT STYLE*/

/*box-sizing*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: inherit;
}

/*GRID CREATION RULES*/
.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}
.column {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
.row {
    overflow: hidden;
}
.one-whole {
    width: 960px;
}
.three-quarters {
    width: 700px;
}
.one-half {
    width: 460px;
}
.one-quarter column {
    width: 220px;
}
.two-thirds {
    width: 620px;
}
.one-third {
    width: 300px;
    /*    padding might need to be taken out... not in instructions but fixes "contacy us"*/
    
    padding-top: 75px;
}
.one-sixth {
    width: 140px;
}
.alpha {
    margin-left: 0;
}
.omega {
    margin-right: 0;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}

/*Header*/

/*COMPOUND-SELECTORS*/

/*MAIN*/
.page-overlay {
    background-color: #fff;
    color: #fff;
    padding-top: 30px;
    margin-bottom: 50px;
}
.page-overlay p {
    font-size: 18px;
    font-weight: 200;
}
.page-overlay h1 {
    padding-left: 35px;
}
.page-overlay h2 {
    font-size: 26px;
    padding-left: 15px;
    color: #fff;
}
.main p {
    color: gray;
}
ul {
    /*    color:black;*/
    
    list-style: none;
    padding: 0;
    margin: 0;
}

/*About CSS*/

/*
.photos img {
    padding-right: 10px;
    padding-bottom: 10px;
*/

}

/*Footer*/
footer {
    background-color: black;
}
footer p {
    color: darkgray;
}
.footer a {
    color: #000;
}
.footer a:hover {
    color: saddlebrown;
}
.footer i:hover {
    color: saddlebrown;
}

/*BUTTONS*/
.btn {
    color: #000;
    display: inline-block;
    font-size: 12px;
    background-color: lightgrey;
    border-radius: 100px;
    padding: 10px 10px;
    border: none;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease 0s;
}
.btn-cal {
    color: #fff;
    display: inline-block;
    font-size: 9px;
    background-color: black;
    /*    padding: 5px 10px;*/
    border: none;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 1px;
}
.btn:hover {
    background-color: orange;
}