@charset "UTF-8" html {
    /*Box-sizing*  DECLARE AT TOP SO IT OVERRIDES WHAT'S BELOW*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
}


/*COLORS 
black
pink
orange
gray         gray
#d3d3d3      light gray 
#5adae2      bright tourquoise#1edce1
#fff         White
*/

.container {
    width: 960px;
    border: 1px solid black;
    overflow: hidden;
}

body {
    background: #5adae2;
}

h1 {
    color: coral;
}

h2 {
    color: beige;
}


/*
h3 {
    color: #1e1f1f;
}
*/

h4 {
    color: #fff;
}

a {
    color: cornsilk;
}

p {
    color: #fff;
}

.flowers {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
}

.header {
    background-color: slateblue;
    padding-left: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header h1 {
    color: orange;
}

ul li {
    color: chartreuse;
}


/*
.home h1 {
    color: #fff;
}
*/

.main {
    /*    background-image: image("images/home-banner.png" alt="Laptop" class="img-responsive")*/
    background-color: black;
    /*    background-color: #5adae2;*/
    /*    padding-top: 10px;*/
    /*    padding-bottom: 30px;*/
}

.page-header-home {
    padding-top: 0px;
}

.contentbox {
    background-color: greenyellow;
    padding-left: 300px;
    /*    padding: 10px;*/
    /*
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
*/
}

.food {
    padding-left: 400px;
}

.Sun {
    padding-left: 90px;
}

.footer {
    background-color: purple;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 300px;
}

.footer h2 {
    color: orangered;
}


/*
.footer h3 {
    color: #fff;
}
*/

.footer p {
    color: darkgray;
}

.footer-bottom {
    background-color: black;
    /*    color: #fff;*/
}

.contentbox li {
    color: #1e1f1f;
}

.contentbox-tourquoise {
    background-color: #5adae2;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox>img {
    float: center;
    margin-left: 60px;
}

.contentbox-beige>img {
    float: left;
    margin-right: 15px;
}

.tile {
    background-color: #5adae2;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}